body {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    background: url("../css/background2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#topContainer {
    text-align: center;
}

#title {
    font-size: 5em;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
}

#main {
    margin-left: 20%;
    margin-right: -20%;
    margin-top: 2em;
    width: 80%;

}

.form-control {
    width: 70%;
}


#mapGroceries {
    font-size: 18px;

}

#mapLiquor {
    font-size: 18px;
}

#searchPlaces {
    font-size: 18px;
}


.tabs {
    background-color: #2E86AB;
    color: whitesmoke;
}

.nav-tabs {
    border-bottom: none;
}

.nav-link {
    border: whitesmoke;
    border: solid;
}

#mapGroceries:Hover {
    opacity: 0.75;
    color: lightskyblue;
}

#mapLiquor:Hover {
    opacity: 0.75;
    color: lightskyblue;
}

#searchAddress {
    display: inline-block;
}

#searchPlaces {
    display: inline-block;
}

#searchMap {
    color: whitesmoke;
}

#mapResult {
    margin-left: 20%;
    margin-right: -20%;
    margin-top: 2em;
    width: 80%;
}

iframe {
    width: 76%;
}

@media only screen and (max-width: 1200px) {
    #main {
        margin-left: 10%;
        margin-right: -10%;
        margin-top: 1em;
        width: 90%;
    }
    
    .form-control {
        width: 80%;
    }

    #mapGroceries {
        font-size: 16px;

    }

    #mapLiquor {
        font-size: 16px;
    }

    #mapResult {
        margin-left: 10%;
        margin-right: -10%;
        margin-top: 1em;
        width: 90%;
    }

    iframe {
        width: 90%;
    }
}

@media only screen and (max-width: 980px) {
    #main {
        margin-left: 10%;
        margin-right: -10%;
        margin-top: 1em;
        width: 90%;
    }
    
    .form-control {
        width: 80%;
    }

    #mapGroceries {
        font-size: 16px;

    }

    #mapLiquor {
        font-size: 16px;
    }

    #mapResult {
        margin-left: 10%;
        margin-right: -10%;
        margin-top: 1em;
        width: 90%;
    }

    iframe {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    #main {
        margin-left: 10%;
        margin-right: -10%;
        margin-top: 1em;
        width: 90%;
    }
    
    .form-control {
        width: 80%;
    }

    #mapGroceries {
        font-size: 16px;

    }

    #mapLiquor {
        font-size: 16px;
    }

    #mapResult {
        margin-left: 10%;
        margin-right: -10%;
        margin-top: 1em;
        width: 90%;
    }

    iframe {
        width: 90%;
    }
}

@media only screen and (max-width: 640px) {
    #main {
        margin-left: 5%;
        margin-right: -5%;
        margin-top: 1em;
        width: 90%;
    }
    
    .form-control {
        width: 80%;
    }

    #mapGroceries {
        font-size: 14px;

    }

    #mapLiquor {
        font-size: 14px;
    }

    #mapResult {
        margin-left: 5%;
        margin-right: -5%;
        margin-top: 1em;
        width: 90%;
    }

    iframe {
        width: 100%;
    }
}