@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    background: url("../css/background2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    height: auto;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0;
    padding: 0 0 0 10px;
}

#results .recipe {
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
    margin: 0 10px 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

#results .recipe:hover {
    border: 1px solid #308aff;
}

@media only screen and (min-width: 600px) {
    #results .recipe {
        flex: 0 0 calc(33.3333% - 10px);
    }
}

/* wendy wip */


#topContainer {
    text-align: center;
}

#title {
    font-size: 5em;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
}

#main {
    margin-left: 30%;
    margin-right: -30%;
    margin-top: 1em;
    width: 80%;
    
    /* float: center;
    position: absolute; */
}

.form-control {
    width: 50%;
}

#search {
    margin-top: 1em;
}

.btn.btn-primary {
    font-size: 18px;
}

#mainSearchBTN {
    width: 25%;
    margin-top: 0.5em;
    background-color: #2E86AB;
    border-color: #2E86AB;
}

#randomSearchBTN {
    width: 25%;
    margin-top: 0.5em;
    background-color: #2E86AB;
    border-color: #2E86AB;
}

#drinkSearchBy {
    margin-top: 1em;
}

#byName{
    width: 25%;
    margin-top: 0.5em;
    background-color: #A23B72;
    border-color: #A23B72;
}

#byRandom {
    width: 25%;
    margin-top: 0.5em;
    background-color: #A23B72;
    border-color: #A23B72;
  
}

#nextPageBtn {
    background-color: #F18F01;
    border-color: #F18F01;
}

#dietary {
    margin-top: 1em;
    font-size: 18px;
}


